:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 62.5%;
  background: #0f1217;
}

section {
  .container {
    margin-top: 4rem;
    height: 52rem;
  }
}
